@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --g10: #222222;
    --g20: #323232;
    --g30: #444444;
    --g40: #888888;
    --g50: #e0e0e0;
    --g60: #ffffff;
    --n10: #515d7d;
    --n20: #b4bdd0;
    --n30: #f3f5f9;
    --p10: #4373f4;
    --p20: #edf6ff;
    --r10: #e95456;
    --bg: #ffffff;
  }

  body {
    background-color: var(--bg);
    font-family: 'Pretendard', sans-serif;
  }
}

.app-container {
  position: relative;
  margin: 0 auto;
  max-width: 450px;
}
